<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
  <ng-template ngbSlide *ngFor="let product of products">
    <!-- style instead of ngStyle for background because it looks like template literal in js, while in ngStyle we would have to use concatenation -->
    <div class="image" (click)="handleShowProductDialog(product)" style="background-image: url('{{ product.image }}')">
      <p class="title">{{ product.title }}</p>
    </div>
  </ng-template>
</ngb-carousel>
